- for klass in @file.classes
  .box.class
    %h2= klass.name
    %p~ @_format_content(klass.docstring || "")

  - for method in klass.instancemethods
    .box.method
      %h2= method.name
      %p~ @_format_content(method.docstring || "")