%header
  %aside
    %h1#project-name Project name
  %section
    %h1#file-name file_name.coffee

%article
  %aside
    .list
      %h2 title
      %ul
        %li
          %a link1
        %li
          %a link2
  %section
    .box
      %h2 title
      %p stuff